#!/bin/bash
set -e
echo "Deploying {{.Name}}"
{{if .Install}}
systemctl daemon-reload
{{end}}
{{if .Running}}
systemctl stop {{.Name}}
{{end}}
mv {{.BinSrc}} {{.BinDst}}
chmod +x {{.BinDst}}
systemctl start {{.Name}}

echo "Wait {{.Name}} start..."
sleep 3
systemctl --no-pager status {{.Name}}

{{if .Install}}
systemctl enable {{.Name}}
{{end}}

rm -rf {{.BinSrc}}
rm -rf $0

systemctl status {{.Name}}
echo "Deploy OK!"