#!/bin/bash
set -e
{{if .Install}}
echo "[$(date +"%Y-%m-%d %H:%M:%S")] Install {{.Name}} on $(hostname -f)"
systemctl daemon-reload
{{else}}
echo "[$(date +"%Y-%m-%d %H:%M:%S")] Upgrade {{.Name}} on $(hostname -f)"
{{end}}

{{if .Running}}
systemctl stop {{.Name}}
{{end}}

mv {{.BinSrc}} {{.BinDst}}
chmod +x {{.BinDst}}

{{if .Running}}
systemctl start {{.Name}}

{{if .WaitSeconds}}
echo "[$(date +"%Y-%m-%d %H:%M:%S")] Wait {{.Name}} start...(Timeout: {{.WaitSeconds}})"
sleep {{.WaitSeconds}}
{{end}}
systemctl --no-pager status {{.Name}}

{{else}}
echo "[$(date +"%Y-%m-%d %H:%M:%S")] Binary upgraded."
ls -lh {{.BinDst}}
{{end}}

{{if .Install}}
systemctl enable {{.Name}}
{{end}}

rm -rf {{.BinSrc}}
rm -rf $0

echo "[$(date +"%Y-%m-%d %H:%M:%S")] OK!"